<apex:component >
<apex:attribute name="Text" description="This is some ext which goes inside" type="String" required="true"/>
<apex:attribute name="Border" description="This specifesi the width of the border" type="Integer" required="true"/>
<div style="border-color:violet; border-style:solid; border-width:{! border}px">
<apex:inputText value="{! text}"/> 
</div>
</apex:component>