<apex:page standardController="Account">
<apex:pageblock title="A Table example"/>
<apex:pageBlock >
<apex:pageblockTable title="Tables here" value="{!Account.contacts}" var="account">
<apex:column value="{!account.name}"/>
<apex:column value="{!account.phone}"/>
</apex:pageblockTable>
</apex:pageBlock>
</apex:page>