<apex:page standardController="Account">
<apex:PageBlock >
<apex:form >
  <h1>Hello {!$User.FirstName}</h1>
    <h2>The account is {!Account.name}</h2>
    <b>Put another name here</b>
    <apex:inputField value="{!account.Name}"/>
    <apex:commandButton action="{!save}" value="Save it"/>
        </apex:form>
        </apex:PageBlock>
        <apex:detail relatedList="False"/>
  </apex:page>