<apex:page Controller="CatalogController" tabStyle="Merchandise__c">
<apex:pageBlock >
<apex:PageBlockSection columns="1">
<apex:pageblocktable value="{!Products}" var="pitem">
<apex:column headerValue="Products">
<apex:outputText value="{!pitem.name}"/>
</apex:column>
<apex:column headerValue="Description">
<apex:outputText value="{!pitem.Description__c}"/>
</apex:column>
</apex:pageblocktable>
</apex:PageBlockSection>
</apex:pageBlock>
</apex:page>