<apex:page standardController="Invoice_Statement__c">
<apex:pageBlock title="A Block Title">
<apex:outputPanel id="someDetails">
<apex:detail subject="{!$CurrentPage.parameters.cid}"/>
</apex:outputPanel>
</apex:pageBlock>
<apex:pageblock >
<apex:form >
<apex:dataList value="{!Invoice_Statement__c}" var="Tundra">
<apex:commandLink reRender="someDetails">
{!Tundra.Name}
<apex:param name="cid" value="{!Tundra.id}"/>
</apex:commandLink>
</apex:dataList>
</apex:form>
</apex:pageblock>

</apex:page>